In [ ]:
"""     Dataset:  NYC AirBnB Dataset
Load Data and Write script to perform following operations.
1.	Display structure and summary report.
2.	Check data types of each column and ensure whether the data types for each of the 	attributes are appropriate, if not make appropriate corrections.
3.	Display NULL values for each of the columns
4.	Find out missing values and replace them for the applicable columns.
6.	Find out categorical data and perform encoding on relevant features .    """

In [3]:
import pandas as pd
df=pd.read_csv(r"C:\Users\DRG\Downloads\datasets\airbnb_last_review.csv")
df

       listing_id    host_name   last_review
0            2595     Jennifer   May 21 2019
1            3831  LisaRoxanne  July 05 2019
2            5099        Chris  June 22 2019
3            5178     Shunichi  June 24 2019
4            5238          Ben  June 09 2019
...           ...          ...           ...
25204    36425863        Rusaa  July 07 2019
25205    36427429         H Ai  July 07 2019
25206    36438336          Ben  July 07 2019
25207    36442252       Blaine  July 07 2019
25208    36455809    Christine  July 08 2019

[25209 rows x 3 columns]

# 1.Display structure and summary report.

In [ ]:
df.describe(include='all')

          listing_id host_name   last_review
count   2.520900e+04     25209         25209
unique           NaN      7364           190
top              NaN   Michael  June 23 2019
freq             NaN       215          1413
mean    2.068922e+07       NaN           NaN
std     1.102928e+07       NaN           NaN
min     2.595000e+03       NaN           NaN
25%     1.202273e+07       NaN           NaN
50%     2.234391e+07       NaN           NaN
75%     3.037669e+07       NaN           NaN
max     3.645581e+07       NaN           NaN

In [5]:
df.info

<bound method DataFrame.info of        listing_id    host_name   last_review
0            2595     Jennifer   May 21 2019
1            3831  LisaRoxanne  July 05 2019
2            5099        Chris  June 22 2019
3            5178     Shunichi  June 24 2019
4            5238          Ben  June 09 2019
...           ...          ...           ...
25204    36425863        Rusaa  July 07 2019
25205    36427429         H Ai  July 07 2019
25206    36438336          Ben  July 07 2019
25207    36442252       Blaine  July 07 2019
25208    36455809    Christine  July 08 2019

[25209 rows x 3 columns]>

# 2.Check data types of each column and ensure whether the data types for each of the attributes are appropriate, if not make appropriate corrections

In [ ]:
df.dtypes

listing_id      int64
host_name      object
last_review    object
dtype: object

# 3.Display NULL values for each of the columns

In [ ]:
df.isnull().sum()

listing_id     0
host_name      8
last_review    0
dtype: int64

# 4.Find out missing values and replace them for the applicable columns.

In [ ]:
df['host_name']=df['host_name'].fillna('unknown')
df.isnull().sum()

listing_id     0
host_name      0
last_review    0
dtype: int64

# 6.Find out categorical data and perform encoding on relevant features .

In [ ]:
category=df.select_dtypes(include=["object"]).columns
category

Index(['host_name', 'last_review'], dtype='object')

In [16]:
#d=pd.get_dummies(df,columns=["last_review"],drop_first=True) 
# there is no need to do this bcz it will adds up more col, redundancy happen bcz each date is distinct unrelated category

,listing_id,host_name,last_review_April 02 2019,last_review_April 03 2019,last_review_April 04 2019,last_review_April 05 2019,last_review_April 06 2019,last_review_April 07 2019,last_review_April 08 2019,last_review_April 09 2019,...,last_review_May 22 2019,last_review_May 23 2019,last_review_May 24 2019,last_review_May 25 2019,last_review_May 26 2019,last_review_May 27 2019,last_review_May 28 2019,last_review_May 29 2019,last_review_May 30 2019,last_review_May 31 2019
0,2595,Jennifer,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,3831,LisaRoxanne,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,5099,Chris,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,5178,Shunichi,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5238,Ben,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25204,36425863,Rusaa,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25205,36427429,H Ai,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25206,36438336,Ben,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25207,36442252,Blaine,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25208,36455809,Christine,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False